.popup__error_visible {
    display: flex;
    color: #FF0000;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    width: 358px;
    min-height: 30px;
    margin-top: 5px;
    /* visibility: hidden; */
}