.photo__like {
    background: url(../../../images/like.svg);
    background-repeat: no-repeat;
    background-position: center;
    min-width: 22px;
    min-height: 19px;
    margin-top: 5px;
    margin-right: 5px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.photo__like:hover {
    opacity: 0.5;
}

.photo__like:active {
    background: url(../../../images/like\ active.svg);
    background-repeat: no-repeat;
    background-position: center;
}